<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-offset-2 col-md-7">
        {% if page.footer %}{{ page.footer }}{% endif %}
      </div>
      <div class="col-xs-12 col-md-3">
        <h3 class="footerhead">Questions or comments?</h3>
        Please feel free to <a href="{% if page.contact %}{{ page.contact }}{% else %}{{ site.contact }}{% endif %}">contact us</a>.
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-md-2">
        <ul class="footerlinks three-icons">
          <li><a href="http://twitter.com/gentoo" title="@Gentoo on Twitter"><span class="fa fa-twitter fa-fw"></span></a></li>
          <li><a href="https://plus.google.com/+Gentoo" title="+Gentoo on Google+"><span class="fa fa-google-plus fa-fw"></span></a></li>
          <li><a href="https://www.facebook.com/gentoo.org" title="Gentoo on Facebook"><span class="fa fa-facebook fa-fw"></span></a></li>
        </ul>
      </div>
      <div class="col-xs-9 col-md-9">
        <strong>&copy; 2001&ndash;2015 Gentoo Foundation, Inc.</strong><br />
        <small>
          Gentoo is a trademark of the Gentoo Foundation, Inc.
          The contents of this document, unless otherwise expressly stated, are licensed under the
          <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license">CC-BY-SA-3.0</a> license.
          The <a href="http://www.gentoo.org/main/en/name-logo.xml">Gentoo Name and Logo Usage Guidelines</a> apply.
        </small>
      </div>
    </div>
  </div>
</footer>